<div class="container d-flex align-items-center justify-content-center" style="height: 100%">
  <form [formGroup]="form" (submit)="submit()">
    <h1 class="fw-bold">Aplikasi Enkripsi/Dekripsi CSV file</h1>

    <div class="mb-3 mt-5">
      <label for="key" class="form-label fw-medium">Key</label>
      <input formControlName="key" type="text" class="form-control" id="key" placeholder="12345678">
    </div>

    <div class="mb-3">
      <label for="algoritma" class="form-label fw-medium">Algorithm</label>
      <select formControlName="algorithm" id="algoritma" class="form-select" aria-placeholder="select algorithm">
        <option value="twofish">Twofish</option>
        <option value="blowfish">Blowfish</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="type" class="form-label fw-medium">Type</label>
      <select formControlName="type" id="type" class="form-select" aria-placeholder="select algorithm">
        <option value="encrypt">Encrypt</option>
        <option value="decrypt">Decrypt</option>
      </select>
    </div>

    <div class="mb-3">
      <div class="form-label fw-medium">CSV File</div>
      <input #inputCsv (change)="inputFile($event)" type="file" class="form-control" id="file">
    </div>

    <div class="d-flex justify justify-content-end">
      <button [disabled]="!form.valid || !csvFile" type="submit" class="btn btn-primary fw-medium">Submit</button>
    </div>
  </form>
</div>